{% load my_tags %}
{% load staticfiles %}

<div class="row">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-sm-12 col-sm-12 col-md-10 col-lg-8">
        <div class="panel panel-default post_container" style="background-color: {{ post.id|colorise }}; border:0px">
            <div class="row post_vote_plus_content">
                <div class="col-sm-1 vote-container hidden-xs" >
                    <div style="text-align: center;">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect vote-c" id="upvote" vote_type = "1" value="{{ post.pk }}"><img class="icons" src="{% static 'img/upvote.svg' %}" alt="Upvote"></button>
                        <div id="number_of_votes" style="margin-top: 15px; margin-bottom: 15px; font-family: 'Yekan'; font-size: 24px; color: white">0</div>
                        {% if request.is_tablet %}
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect vote-c" id="downvote" vote_type = "-1" value="{{ post.pk }}"><img class="icons" src="{% static 'img/downvote.svg' %}" alt="Upvote"></button>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11" >
                    <div class="post_title_content">
                        <div class="post_title" >
                            {% if request.user.is_authenticated and request.user == post.poster or perms.post.change_post%}<a style="color: #fff; font-size:18px; font-weight: normal; float: left;" href="{% url 'post_edit' pk=post.pk %}"><i class="fa fa-pencil"></i></a>{% endif %}
                            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.post_title }}</a></h1>
                        </div>
                        <div >
                            {% autoescape on %}
                                <p id="post_content">{{ post.post_content|truncatewords_html:30|striptags }}</p>
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tags-container-padding">
                {% autoescape on %}
                    {% for tag in post.return_tags %}
                        {% if tag|colorise != post.id|colorise %}
                            <a class="tags tag-fix mdl-js-button mdl-js-ripple-effect" style="background-color: {{ tag|colorise }}; text-decoration: none;" href="#">{{ tag }} </a>
                        {% else %}
                            {% with newtag=tag|add:"15" %}
                                <a class="tags tag-fix mdl-js-button mdl-js-ripple-effect" style="background-color: {{ newtag|colorise }}; text-decoration: none;" href="#">{{ tag }} </a>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endautoescape %}
            </div>
            {#        color: black;   border-top: 1px solid #1d85b9; box-shadow: 1px 1px 1px #888888;#}
            <div class="panel-footer panel-footer-border" style="background-color: {{ post.id|colorise }}; ">
                <div class="post-footer">
                    {#                    <img  data-toggle="tooltip" title={{ post.poster.username }} data-placement="left" id="tt{{ post.id }}" style="border-radius: 50%; margin-left: 10px; margin-right: 10px;" align="right" class="profile-pic media-object  img-circle" data-name="{{ post.poster.username }}"/>#}
                    {% if post.poster.first_name %}
                        <img  data-toggle="tooltip" title={{ post.poster.username }} data-placement="left" id="tt{{ post.id }}" style="border-radius: 50%; margin-left: 10px; margin-right: 10px;" align="right" class="profile-pic media-object  img-circle" data-name="{{ post.poster.username }}"/>
                    {% else %}
                        <img style="border-radius: 50%;  margin-left: 10px; margin-right: 10px;" align="right" class="icons-small" src="{% static 'img/user.svg' %}" alt="{{ request.user.username }}">
                    {% endif %}
                    {% if not request.is_phone %}
                        <div class="display-inline pull-left visible-xs" style="direction:ltr">
                            <button ><img class="icons-small" src="{% static 'img/upvote.svg' %}" alt="Up vote"></button>
                            <div class="display-inline" style="font-family: 'Segoe UI'; font-size: 18px; color: white; margin:0px 10px">12</div>
                            <button ><img class="icons-small" src="{% static 'img/downvote.svg' %}" alt="Down vote"></button>
                        </div>
                    {% endif %}
                    {% if request.is_phone %}

                    <div style="font-size: 16px; color: #fff; " >
                        <em class="days_ago">&#8236; {{ post.created_date|pretty_date }}</em>
                        <div style="display: inline" class="hidden-xs">
                            <div style="display: inline">توسط:</div>
                            <h5 style="display: inline;">{{post.poster.username }}</h5>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>

        {#        <div class="col-sm-2"></div>#}
        <div class="col-md-1 col-lg-2"></div>

    </div>
</div>

