{% load staticfiles %}
<!doctype html>
<html>
{% if not request.is_phone and not request.is_mobile %}
    <style>
        .navbar-collapse.collapse {
            display: block!important;
        }

        .navbar-nav>li, .navbar-nav {
            float: left !important;
        }

        .navbar-nav.navbar-right:last-child {
            margin-right: -15px !important;
        }

        .navbar-right {
            float: right!important;
        }
    </style>
{% endif %}
<head>
    <title>Reply</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">#}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    {% block css %}{% endblock %}


</head>
<body>

<div class="navbar navbar-inverse" id="navbar" >
    <div class="container">
        <div class="navbar-header">
            {% if request.is_phone or request.is_mobile %}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            {% endif %}
            <a class="navbar-brand" style="align:right;" href="{% url 'index'  %}">Reply</a>

        </div>
        {% if request.is_phone or request.is_mobile %}
            <div class="collapse navbar-collapse">
        {% endif %}
        <ul class="nav navbar-nav navbar-right" style="margin:0px; padding:0px; direction: rtl;">
            <li ><a href="#">داغ ترین ها</a></li>
            <li class="active"><a href="#about">پر بازدیدترین ها</a></li>
            <li><a href="{% url 'index'  %}">صفحه اصلی</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left" style="margin:0px; padding:0px">
            {% if request.user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle pull-right" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                        {{ request.user.username }}
                        {% if request.user.first_name %}
                            <img style="border-radius: 50%;" class="profile-pic" data-name="{{ request.user.first_name }}"/>
                        {% else %}
                            <span class="glyphicon glyphicon-user"></span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu pull-right" style="text-align:right;">
                        <li><a href="{% url 'dashboard' %}">صفحه کاربری</a></li>
                        <li><a href="#">سئوالات من</a></li>
                        <li><a href="{% url 'logout_view' %}">خروج</a></li>
                    </ul>
                </li>
                <li ><a href="{% url 'post_new'  %}">سئوال جدید</a></li>

            {% else %}
                <li><a href="{% url 'register' %}">ورود / ثبت نام</a></li>
            {% endif %}
        </ul>
        {% if request.is_phone or request.is_mobile %}
            </div><!--/.nav-collapse -->
        {% endif %}
    </div>
</div>
<div class="container" id="container">
    {% block content %}
    {% endblock %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.current_user_profile-pic').initial({
            height: 64,
            width: 64,
            fontSize: 32,
            fontFamily: 'sans-serif',
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
    });
</script>
{% block javascript %}{% endblock %}


</body>
{##}
</html>