{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load my_tags %}
{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
            <div class="panel panel-default post_container" style="border:0px; text-align: left;">

                <div class="user one" style="float: left">
                </div>
                <div>
                    <span class="info">{{ request.user.username }}</span>
                </div>
                <div>
                    <span class="info" id="first_name_span">{{ request.user.first_name }}</span>
                </div>
                <form method="post" id="form">
                    {% csrf_token %}
                    <div data-placement="auto left" data-toggle="popover" data-trigger="manual" data-content="لطفا این فیلد را تکمیل نمایید" id="name_container" class="input-group" style="direction:ltr; margin-top: 30px;">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input class="form-control direction-rtl" type="text" placeholder="نام نمایش داده شده در سایت"  id="name" value="{{ request.user.first_name }}">
                    </div>
                    <div class="input-group" style="direction:ltr; margin-top: 10px; margin-bottom: 30px;">
                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                        <input class="form-control direction-rtl" type="text" placeholder="شهر محل سکونت" id="city" value="{{ request.user.last_name }}">
                    </div>
                    <div style="margin: 20px; text-align: center;" id="error_message">
                        <p style="color: red"></p>
                    </div>
                    <button class="btn btn-success" style="text-align: center; width: 100%;" type="submit">
                        <div id="submit_text">
                            <i id="loading" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
                            ثبت</div>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pull-right">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                    <div class="panel panel-default post_container" style="border:0px">
                        <div class="icon-container">
                            <i class="fa fa-heart  fa-4x " style="color: red; "></i>
                        </div>
                        <div>
                            <span class="title">{{ votes }}</span>
                        </div>
                        <div>
                            <span class="info">تعداد upvote ها</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                    <div class="panel panel-default post_container" style="border:0px">
                        <div class="icon-container">
                            <i class="fa fa-question-circle-o  fa-4x " style="color: lightblue; "></i>
                        </div>
                        <div>
                            <span class="title">{{ posts.count }}</span>
                        </div>
                        <div>
                            <span class="info">تعداد سئوالات</span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                    <div class="panel panel-default post_container" style="border:0px">
                        <table class="table table-striped" >
                            <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>تاریخ ارسال</th>
                                <th>پاسخ ها</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if posts.count > 0 %}
                                {% for post in posts %}
                                    <tr style="max-width: 50px; text-overflow: ellipsis; ">
                                        <td id="td_title">{{ post.post_title }}</td>
                                        <td>{{ post.created_date|to_jalali }}</td>
                                        <td>{{post|getPostAnswersCount}}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td colspan="3" align="center">و دیگر هیچ</td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
                    <div class="panel panel-default post_container" style="border:0px">
                        <table class="table table-striped" >
                            <thead>
                            <tr>
                                <th>پاسخ شما</th>
                                <th>موضوع سئوال</th>
                                <th>تاریخ ارسال</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if answers.count > 0 %}

                                {% for post in answers %}
                                    <tr style="max-width: 50px; text-overflow: ellipsis; ">
                                        <td id="td_title">{{ post.post_content }}</td>
                                        <td>{{post|get_parent_question}}</td>
                                        <td>{{ post.created_date|to_jalali }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td colspan="3" align="center">و دیگر هیچ</td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">


    </div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            var error_message = $("#error_message");
            var loading = $("#loading");


            error_message.hide();
            loading.hide();

            $("#form").submit(function(event){
                event.preventDefault();
                var name = $("#name").val();
                var city = $("#city").val();
                if(name.length <5 )
                {
                    $("#name_container").popover("show");
                    return;
                }
                $.ajax({
                    url: '/ajax/set_profile/',
                    data: {
                        'name': name,
                        'city': city
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data.success)
                        {
                            error_message.show();
                            error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="fa fa-check"></i>' + 'اطلاعات با موفقیت ثبت شد.');
                            $('#first_name_span').html(data.name)
                        }
                        else
                        {
                            error_message.show();
                            error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="fa fa-warning"></i>' + 'لطفا نام درستی وارد نمایید');
                        }
                    },
                    error: function(data) {
                        error_message.show();
                        error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="fa fa-warning"></i>' + 'اشکال در ثبت اطلاعات');
                    }
                });

                return false;
            });
        });
    </script>
{% endblock %}
