{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reply</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-red.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/mdl_related.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'javascript/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tagit.ui-zendesk.css' %}">
    <link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
    {{ form.media }}
</head>

<style>
    .mdl-layout__header .mdl-layout__drawer-button i {
        color: #000;
    }
</style>

<body>

<div class="mdl-layout mdl-layout mdl-js-layout mdl-layout--fixed-header" style="direction: ltr;">

    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--white" id="header" >
        <div class="mdl-layout__header-row" style="direction: rtl;">
            <span style="font-size:22px; font-weight: normal; margin: 20px"><a style="text-decoration: none; color: #000" class="mdl-js-button mdl-js-ripple-effect" href="{% url 'index' %}">ریپلای</a></span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="mdl-layout__drawer" style="background-color: darkcyan">
        <span class="mdl-layout-title">Reply</span>
        <nav class="mdl-navigation" style="font-family: Yekan;  direction: rtl;" >

            <a style="color: #fff; font-size:18px; font-weight: normal" class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="material-icons">inbox</i>سئوال جدید</a>
            <div class="mdl-layout-spacer"></div>
            <span></span>
            <span style="color: darkgray; font-size:18px; font-weight: normal; margin: 20px">ترین های هفته</span>
            <div class="mdl-layout-spacer"></div>
            <a style="color: #fff; font-size:18px; font-weight: normal;" class="mdl-js-button mdl-js-ripple-effect" href="#"><i style="margin-left: 20px" class="material-icons">inbox</i>جدیدترین</a>
            <a style="color: #fff; font-size:18px; font-weight: normal;" class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="material-icons">inbox</i>داغ ترین</a>
            <a style="color: #fff; font-size:18px; font-weight: normal;" class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="material-icons">inbox</i>پربازدیدترین</a>
            <a style="color: #fff; font-size:18px; font-weight: normal;" class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="material-icons">inbox</i>رو به رشد</a>
            <a style="color: #fff; font-size:18px; font-weight: normal;" class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="material-icons">inbox</i>برگزیده</a>

        </nav>
    </div>
    <form method="POST" onsubmit="DoSubmit();">
        {% csrf_token %}


        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: block; width:auto; background-color: white; margin: 0 auto; text-align: center">
            <input class="mdl-textfield__input formEdit" style="display: block; width:100%; max-width: 960px; margin: 0 auto; " type="text" id="post_title" name="{{ form.post_title.name }}" id="id_{{ form.post_title.name }}" value="{{ form.post_title.value }}" >
            {#            <label class="mdl-textfield__label formEdit" style="display: block; width:100%;" >عنوان</label>#}
        </div>


        <div class="content-grid mdl-grid" style="margin-right: auto; margin-left: auto; max-width: 1200px; direction: rtl;">
            <div class="no-margin mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                {{ form.non_field_errors }}
                {% if form.errors %}
                    <div id="form-error">
                        <p>لطفا اشکالات زیر را برطرف کنید.</p>
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error|striptags }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}



                {#            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="display: block" hidden>#}
                <textarea hidden type="text" class="realContent mdl-textfield__input formEdit" rows= "5" cols="80" dir="rtl" name="{{ form.post_content.name }}"id="id_post_content"value="{{ form.post_content.value }}" >{{ form.post_content.value }}</textarea>
                {#                <label class="mdl-textfield__label formEdit" for="id_{{ form.post_content.name }}">جزییات سئوال</label>#}
                {#            </div>#}

                <div class="toolbar">
                    <a data-command='undo' style="float: right;" class="mdl-js-button mdl-js-ripple-effect mdl-cell--hide-tablet mdl-cell--hide-phone  " href="#"><i class="material-icons md-dark md-36">undo</i></a>
                    <a data-command='redo' style="float: right;" class="mdl-js-button mdl-js-ripple-effect mdl-cell--hide-tablet mdl-cell--hide-phone  " href="#"><i class="material-icons md-dark md-36">redo</i></a>
                    <a data-command='bold' class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="material-icons md-dark md-36">format_bold</i></a>
                    <a data-command='italic' class="mdl-js-button mdl-js-ripple-effect " href="#"><i class="material-icons md-dark md-36">format_italic</i></a>
                    <a data-command='underline' class="mdl-js-button mdl-js-ripple-effect mdl-cell--hide-tablet mdl-cell--hide-phone  " href="#"><i class="material-icons md-dark md-36">format_underline</i></a>
                    <span style="margin-left: 15px; margin-right: 15px;"></span>
                    <a data-command='createlink'class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="material-icons md-dark md-36">link</i></a>
                    {#                    <a data-command='unlink'class="mdl-js-button mdl-js-ripple-effect" href="#"><i class="material-icons md-dark md-36">unlink</i></a>#}
                    <a data-command='blockquote' class="mdl-js-button mdl-js-ripple-effect mdl-cell--hide-tablet mdl-cell--hide-phone  " href="#"><i class="material-icons md-dark md-36">format_quote</i></a>
                    <a data-command='code' class="mdl-js-button mdl-js-ripple-effect mdl-cell--hide-tablet mdl-cell--hide-phone  " href="#"><i class="material-icons md-36 md-dark">code</i></a>

                    <span style="margin-left: 15px; margin-right: 15px;"></span>

                    <a data-command='insertUnorderedList' class="mdl-js-button mdl-js-ripple-effect mdl-cell--hide-tablet mdl-cell--hide-phone  " href="#"><i class="material-icons md-36 md-dark">format_list_bulleted</i></a>
                    <a data-command='insertOrderedList' class="mdl-js-button mdl-js-ripple-effect mdl-cell--hide-tablet mdl-cell--hide-phone " href="#"><i class="material-icons md-36 md-dark">format_list_numbered</i></a>

                </div>
            </div>
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp" style="margin-top: 30px;">
                <div id="editor" class='editor' contenteditable>
                    {{ form.post_content.value|safe }}
                </div>
            </div>

            <div style="display: block; margin-top: 50px; width: 100%; background-color: white; padding: 20px; margin: 10px">
                <label>لطفا حداقل یک تگ مرتبط با سئوال وارد نمایید. تگ ها را با فاصله از هم جدا کنید.</label>
                <input class="mdl-textfield__input formEdit" type="text" id="myTags"  dir="rtl"
                       name="{{ form.tags.name }}"
                       id="id_{{ form.tags.name }}"
                       value="{{ post.return_tags|join:", " }}"
                >
            </div>



        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--light-blue-400 generalClass" style="margin-top: 20px; display: inline-block; min-width: 200px;" type="submit"> ذخیره</button>

        </div>







        <script type="text/javascript">
            document.body.style.backgroundColor="#f7f7f7";
            var id = document.getElementById("header");
            {#        id.classList.add("mdl-color--cyan-A700");#}
            id.childNodes[0].remove();

            $(document).ready(function() {
                $("#myTags").tagit({

                    // Options
                    fieldName: "skills",
                    availableTags: ["c++", "java", "php", "javascript", "ruby", "python", "c"],
                    autocomplete: {delay: 0, minLength: 2},
                    showAutocompleteOnFocus: false,
                    removeConfirmation: true,
                    caseSensitive: false,
                    allowDuplicates: false,
                    allowSpaces: false,
                    readOnly: false,
                    tagLimit: 5,
                    singleField: true,
                    singleFieldDelimiter: ',',
                    singleFieldNode: null,
                    tabIndex: null,
                    placeholderText: 'تگ',

                });

            });

        </script>


        <script>
            var div = document.getElementById('editor');

            $('.toolbar a').click(function(e) {
                var command = $(this).data('command');
                if (command == 'h1' || command == 'h2' || command == 'p' || command == 'blockquote' || command == 'code') {
                    document.execCommand('formatBlock', false, command);
                }

                if (command == 'createlink' || command == 'insertimage') {
                    url = prompt('Enter the link here: ', 'http:\/\/');
                    document.execCommand($(this).data('command'), false, url);
                }
                else
                    document.execCommand($(this).data('command'), false, null);


            });

            setTimeout(function() {
                div.focus();
            }, 0);

            function DoSubmit(){
                {#            var content = $('#editor').html();#}
                {#                        document.getElementById('editor').remove();#}
                var details= document.getElementById("editor").innerHTML;
                document.getElementById('id_post_content').value = details;
                return true;
            }
        </script>



        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Title</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>
    </form>

</div>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>