{% extends 'homepage/base.html' %}
{% load my_tags %}
{% load staticfiles %}
{% block content %}

    {% for post in posts %}
        {#        <div class="post">#}
        <div class="content container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <div style="color: #fff; margin-top: 30px; text-align: center">
                        <img width="36" height="36" src="{% static 'img/upvote.svg' %}" alt="Upvote">
                        <div style="margin-top: 30px; margin-bottom: 30px; font-family: 'Segoe UI'; font-size: 24">12</div>
                        <img width="36" height="36" src="{% static 'img/downvote.svg' %}" alt="Downvote">
                    </div>
                </div>
                <div class="col-md-11">

                    <div class="post">
                        <div class="date">

                            <img style="margin: 5px" align="left" class="profile-pic media-object img-circle" data-name="{{ post.poster.user.username }}"/>
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $('.profile-pic').initial({
                                        height: 40,
                                        width: 40,
                                        fontSize: 20,
                                    });
                                })
                            </script>
                            {{post.poster.user.username }} - {{ post.created_date|days_ago }}
                            <br/>
                            <h5>0 posts - 0 views</h5>

                        </div>
                        <h1><a href="">{{ post.post_title }}</a></h1>
                        <p>{{ post.post_content|trim_end}}</p>

                    </div>
                </div>

            </div>
        </div>


    {% endfor %}
{% endblock %}
