{% extends 'homepage/base.html' %}
{% load staticfiles %}

{% load my_tags %}

{#{% load staticfiles %}#}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            var error_message = $("#error_message");
            var loading = $("#loading");
            var submit_text = $("#submit_text");

            var first_div = $("#first_step");
            var second_div = $("#second_step");

            var edit_phone = $("#edit_phone");

            second_div.hide();

            error_message.hide();
            loading.hide();
            $("#test1").submit(function(event){
                event.preventDefault();
                error_message.hide();
                submit_text.addClass("wrapper");
                loading.show();
                var phone = $("#id_phone_number").val();
                if (!first_div.is(':hidden')){
                    $.ajax({
                        url: '/ajax/validate_username/',
                        data: {
                            'phone': phone
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.matched) {
                                error_message.show();
                                error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="material-icons">warning</i>' + data.authentication_id);
                                edit_phone.html('<i class="material-icons md-dark md-18">edit</i> ' + data.number);

                                first_div.hide();
                                second_div.show();
                            }
                            else
                            {
                                error_message.show();
                                error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="material-icons">warning</i> لطفا اطلاعات صحیح وارد نمایید.');
                            }
                            submit_text.removeClass("wrapper");
                            loading.hide();
                        },
                        error: function(data) {
                            alert("error " + data.is_taken);
                            submit_text.removeClass("wrapper");
                            loading.hide();
                        }
                    });
                }
                else
                {

                    var auth_id = $("#id_authentication_code").val();
                    $.ajax({
                        url: '/ajax/validate_phone_number/',
                        data: {
                            'auth_id': auth_id,
                            'phone_number': phone
                        },
                        dataType: 'json',
                        success: function (data) {
                                                            error_message.show();
                                error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="material-icons">check</i>' + data.verified);
                            if (data.logged_in) {
{#                                error_message.show();#}
                                error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="material-icons">check</i>' + 'logged in ' + data.logged_in);
                                window.location.href = data.redirect;
                            }
                            else
                            {
                                error_message.show();
                                error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="material-icons">warning</i> کد وارد شده توسط شما اشتباه است.');
                            }
                            submit_text.removeClass("wrapper");
                            loading.hide();
                        },
                        error: function(data) {
                            alert("error ");
                            submit_text.removeClass("wrapper");
                            loading.hide();
                        }
                    });
                }
                return false;
            });

            $("#edit_phone").click(function(event) {
                event.preventDefault();
                first_div.show();
                second_div.hide();
                error_message.hide();
                return true;
            });

        });



    </script>
{% endblock %}


{% block content %}
    <form method="post" id="test1">

        <div class="demo-card-wide mdl-card mdl-shadow--2dp " style="margin: 10px auto; text-align: center;">
            <div class="mdl-card__title"></div>
            {#            <div class="box">#}
            <div class="mdl-card__supporting-text box">
                <div id="first_step">
                    <p class="mdl-card__supporting-text" style="color: black">
                        لطفا جهت ورود یا ثبت نام, شماره همراه خود را وارد نمایید.
                    </p>
                    <input class="textbox" type="text" placeholder="09xxxxxxxxx" name="{{ form.phone_number.name }}" id="id_{{ form.phone_number.name }}" value="" >
                </div>

                <div id="second_step" style="display:none;">
                    <div>
                        لطفا کد شش رقمی ارسال شده به شماره همراه خود را وارد نمایید.
                    </div>
                    <div style="margin-top: 20px;"></div>

                    <div>
                        <a style="color: #000;" class="mdl-js-button mdl-js-ripple-effect" href="#"  id="edit_phone"><i class="material-icons md-dark md-18">edit</i></a>
                    </div>
                    <div style="margin-top: 20px;"></div>
                    <input class="textbox" type="text" placeholder="کد شش رقمی ارسال شده به شماره شما" name="{{ form.authentication_code.name }}" id="id_{{ form.authentication_code.name }}" value="" >
                </div>

                <div style="margin: 20px;" id="error_message">
                    <p style="color: red"></p>
                </div>

            </div>



            <div class="mdl-card__actions mdl-card--border">
                <div style="margin: 10px auto; text-align: center;">

                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--light-blue-400 generalClass" style="min-width: 200px; text-align: center" type="submit">
                        <div class="wrapper2 loader" id="loading"></div>
                        <div id="submit_text">ثبت</div>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <!-- Wide card with share menu button -->
    <style>
        .demo-card-wide.mdl-card {
            width: 512px;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
        .loader {
            border: 2px solid #f3f3f3; /* Light grey */
            border-top: 2px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 16px;
            height: 16px;
            animation: spin 2s linear infinite;
        }
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .wrapper {
            position: absolute;
            top: 25%;
            left: 50%;
            margin-top: -10px;
            margin-left: -5px;
        }
        .wrapper2 {
            position: absolute;
            top: 25%;
            left: 50%;
            margin-left: -50px;
        }




    </style>

{% endblock %}
