{% extends 'homepage/base.html' %}
{% load staticfiles %}
{% load my_tags %}
{% block css %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/registration/registration.css' %}">

{% endblock %}
{% block content %}
    <form method="post" id="test1">

        <div class="panel panel-default box-container" style="margin: 10px auto; text-align: center;">
            <div class="mdl-card__title"></div>
            {#            <div class="box">#}
            <div class="mdl-card__supporting-text box">
                <div id="first_step">
                    <p class="mdl-card__supporting-text" style="color: black">
                        لطفا جهت ورود یا ثبت نام, شماره همراه خود را وارد نمایید.
                    </p>
                    {#                    <input class="textbox" type="text" placeholder="09xxxxxxxxx" name="{{ form.phone_number.name }}" id="id_{{ form.phone_number.name }}" value="" >#}
                    <div class="input-group" style="direction:ltr; max-width:300px; margin: 20px auto;">
                        <span class="input-group-addon"><i class="fa fa-key fa-mobile"></i></span>
                        <input class="form-control" type="text" placeholder="09xxxxxxxxx" name="{{ form.phone_number.name }}" id="id_{{ form.phone_number.name }}" value="">
                    </div>
                </div>

                <div id="second_step" style="display:none;">
                    <div>
                        <a class="btn btn-info" href="#" id="edit_phone"><i class="fa fa-pencil"></i></a>
                    </div>

                    <div style="margin-top: 20px;"></div>
                    <div>
                        لطفا کد شش رقمی ارسال شده به شماره همراه خود را وارد نمایید.
                    </div>



                    <div style="margin-top: 20px;"></div>
                    {#                    <input class="textbox" type="text" placeholder="کد شش رقمی ارسال شده به شماره شما" name="{{ form.authentication_code.name }}" id="id_{{ form.authentication_code.name }}" value="" >#}
                    <div class="input-group" style="direction:ltr; max-width:300px; margin: 20px auto;">
                        <span class="input-group-addon"><i class="fa fa-key fa-mobile"></i></span>
                        <input class="form-control" type="text" placeholder="کد شش رقمی ارسال شده به شماره شما" name="{{ form.authentication_code.name }}" id="id_{{ form.authentication_code.name }}" value="">
                    </div>
                </div>

                <div style="margin: 20px;" id="error_message">
                    <p style="color: red"></p>
                </div>

            </div>








            <div class="mdl-card__actions mdl-card--border">
                <div style="margin: 10px auto; text-align: center;">

                    <button class="btn btn-success" style="min-width: 200px; text-align: center" type="submit">
                        {#                        <div id="loading"></div>#}
                        <div id="submit_text">
                            <i id="loading" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
                            ثبت</div>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}




{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            var error_message = $("#error_message");
            var loading = $("#loading");
            var submit_text = $("#submit_text");

            var first_div = $("#first_step");
            var second_div = $("#second_step");

            var edit_phone = $("#edit_phone");

            second_div.hide();

            error_message.hide();
            loading.hide();

            $("#test1").submit(function(event){
                event.preventDefault();
                error_message.hide();
                submit_text.addClass("wrapper");
                loading.show();
                var phone = $("#id_phone_number").val();
                if (!first_div.is(':hidden')){
                    $.ajax({
                        url: '/ajax/validate_username/',
                        data: {
                            'phone': phone
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.matched) {
                                error_message.show();
                                error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="fa fa-warning"></i>' + data.authentication_id);
                                edit_phone.html('<i class="fa fa-pencil" style="margin-left: 10px"></i> ' + '  ' + data.number);

                                first_div.hide();
                                second_div.show();
                            }
                            else
                            {
                                error_message.show();
                                error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="fa fa-warning"></i> لطفا اطلاعات صحیح وارد نمایید.');
                            }
                            submit_text.removeClass("wrapper");
                            loading.hide();
                        },
                        error: function(data) {
                            {#                            alert("error " + data.is_taken);#}
                            error_message.show();
                            error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="fa fa-warning"></i> اشکال در ورود کد 42');
                            submit_text.removeClass("wrapper");
                            loading.hide();
                        }
                    });
                }
                else
                {

                    var auth_id = $("#id_authentication_code").val();
                    $.ajax({
                        url: '/ajax/validate_phone_number/',
                        data: {
                            'auth_id': auth_id,
                            'phone_number': phone
                        },
                        dataType: 'json',
                        success: function (data) {
                            error_message.show();
                            error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="fa fa-check"></i>' + data.verified);
                            if (data.logged_in) {
                                {#                                error_message.show();#}
                                error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="fa fa-check"></i>' + 'logged in ' + data.logged_in);
                                window.location.href = data.redirect;
                            }
                            else
                            {
                                error_message.show();
                                error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="fa fa-warning"></i> کد وارد شده توسط شما اشتباه است.');
                            }
                            submit_text.removeClass("wrapper");
                            loading.hide();
                        },
                        error: function(data) {
                            error_message.show();
                            error_message.html('<i style="margin-left: 15px; margin-top: 20px" class="fa fa-warning"></i> اشکال در ورود کد 43');
                            submit_text.removeClass("wrapper");
                            loading.hide();
                        }
                    });
                }
                return false;
            });

            $("#edit_phone").click(function(event) {
                event.preventDefault();
                first_div.show();
                second_div.hide();
                error_message.hide();
                return true;
            });

        });
    </script>
{% endblock %}
