.post_container{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    margin-top: 0px;
    padding:20px;

}

.panel .title{
    font-size:2em;
    /*float: right;*/
    margin:10px;
}
.panel .info{
    font-size:1.2em;
    /*float: right;*/
    margin:10px;
}
.icon-container
{
    float: right;
    margin:5px;
    display: inline-block;
}

display-inline{
    display: inline-block;
}

table > thead > tr > th{
    text-align: right;

}

table > tbody > tr > td{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.user {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.one {
    background-image: url('../img/user.svg');
}

.direction-rtl{
    direction: rtl;
}