{% load my_tags %}
{% load staticfiles %}

<div class="row">
    <div class="col-md-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
        <div class="panel panel-default post_container" style="background-color: {{ post.id|colorise }}; border:0px">
            <div class="row post_vote_plus_content">
                <div class="col-sm-1 vote-container hidden-xs" >
                    <div style="text-align: center;">
                        {#                    {{ post|userVotedThisPost:request.user.id }}#}
                        <button class="vote-c" id="upvote" vote_type = "1" pk="{{ post.pk }}">
                            {% if post|userVotedThisPost:request.user.id == 1 %}
                                <img id="upvote-img" class="icons" src="{% static 'img/upvote-marked.svg' %}" alt="Upvote">
                            {% else %}
                                <img id="upvote-img" class="icons" src="{% static 'img/upvote.svg' %}" alt="Upvote">
                            {% endif %}
                        </button>
                        <div id="number_of_votes" style="direction: ltr; margin-top: 15px; margin-bottom: 15px; font-family: 'Vazir'; font-size: 24px; color: white">{{ post|total_votes|default:"0" }}</div>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect vote-c" id="downvote" vote_type = "-1" pk="{{ post.pk }}">
                            {% if post|userVotedThisPost:request.user.id == -1 %}
                                <img id="downvote-img" class="icons" src="{% static 'img/downvote-marked.svg' %}" alt="Downvote">
                            {% else %}
                                <img id="downvote-img" class="icons" src="{% static 'img/downvote.svg' %}" alt="Downvote">
                            {% endif %}
                        </button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11" >
                    <div class="post_title_content">
                        <div class="post_title" ><h1></h1></div>
                        <div >
                            {% autoescape on %}
                                <p id="post_content">{{ post.post_content|safe|linebreaksbr }}</p>
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer panel-footer-border" style="background-color: {{ post.id|colorise }}; ">
                <div class="post-footer">
                    {% if post.poster.first_name %}
                        <img  data-toggle="tooltip" title={{ post.poster|find_username }} data-placement="left" id="tt{{ post.id }}" style="border-radius: 50%; margin-left: 10px; margin-right: 10px;" align="right" class="profile-pic media-object  img-circle" data-name="{{ post.poster|find_username}}"/>
                    {% else %}
                        <img style="border-radius: 50%;  margin-left: 10px; margin-right: 10px;" align="right" class="icons-small" src="{% static 'img/user.svg' %}" alt="{{ post.poster|find_username }}">
                    {% endif %}

                    {% if request.user.is_authenticated and request.user == post.poster or perms.post.change_post%}<a class = "default-padding-righ-left-10" style="color: #fff; font-size:18px; float: left;" href="{% url 'post_edit' pk=post.pk %}"><i class="fa fa-pencil"></i></a>{% endif %}

                    <div class="display-inline pull-left visible-xs" style="direction:ltr">
                        <button class="vote-c" id="upvote" vote_type = "1" pk="{{ post.pk }}">
                            {% if post|userVotedThisPost:request.user.id == 1 %}
                                <img id="upvote-img" class="icons-small" src="{% static 'img/upvote-marked.svg' %}" alt="Upvote">
                            {% else %}
                                <img id="upvote-img" class="icons-small" src="{% static 'img/upvote.svg' %}" alt="Upvote">
                            {% endif %}
                        </button>
                        <div id="number_of_votes" class="display-inline" style="direction: ltr; margin:0px 20px; font-family: 'Vazir'; font-size: 16px; color: white">{{ post|total_votes|default:"0" }}</div>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect vote-c" id="downvote" vote_type = "-1" pk="{{ post.pk }}">
                            {% if post|userVotedThisPost:request.user.id == -1 %}
                                <img id="downvote-img" class="icons-small" src="{% static 'img/downvote-marked.svg' %}" alt="Downvote">
                            {% else %}
                                <img id="downvote-img" class="icons-small" src="{% static 'img/downvote.svg' %}" alt="Downvote">
                            {% endif %}
                        </button>
                    </div>
                    <div style="font-size: 16px; color: #fff; " >
                        <em class="days_ago">&#8236; {{ post.created_date|pretty_date }}</em>
                        <div style="display: inline" class="hidden-xs">
                            <div style="display: inline">توسط:</div>
                            <h5 style="display: inline; direction: ltr;">

                            {% if request.user == post.poster %}
                                شما
                            {% else %}
                                {{post.poster|find_username }}
                            {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-lg-2"></div>

    </div>
</div>

