{% extends 'homepage/base.html' %}
{% load my_tags %}
{% load staticfiles %}
{% block css %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/mini-editor.css' %}">
{% endblock %}
{% block content %}
    <div id="detail_content">
        {% with view_detail=True %}
            {% include "homepage/posts/post.html" %}
        {% endwith %}

        {% for post in answers %}
            {% include "homepage/posts/post_answer.html" %}
        {% endfor %}
    </div>

    <div class="pagination" style="text-align: center; margin: 0px auto; display: block;">
        {% if answers.has_other_pages %}
            <ul class="pagination">
                {% if answers.has_previous %}
                    <li class="direction-ltr"><a href="?page={{ answers.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled direction-ltr"><span>&laquo;</span></li>
                {% endif %}
                {% for i in answers.paginator.page_range %}
                    {% if answers.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if answers.has_next %}
                    <li class="direction-ltr"><a href="?page={{ answers.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled direction-ltr"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
            <div class="panel panel-default default-padding">
                {% include "homepage/posts/editor.html" %}
                <button id="submit_answer" class="btn btn-success" style="min-width: 200px; text-align: center" type="submit">
                    <div id="submit_text"><i id="loading" class="fa fa-cog fa-send fa-lg fa-fw"></i>   ارسال    </div>
                </button>
            </div>
            <div class="col-md-1 col-lg-2"></div>
        </div>
    </div>



{% endblock %}

{% block javascript %}
    <script src="{% static 'javascript/initial.js' %}"></script>

    <script>
        $(document).ready(function() {


        });

        function add_answer(content, pk, color)
        {
            $("#detail_content").append('<div id='+pk+'></div>');

            $("#"+pk).append('\
             <div class="row">\
        <div class="col-md-1 col-lg-2"></div>\
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">\
            <div class="panel panel-default post_container" style="background-color: '+ color +'; border:0px">\
                <div class="row post_vote_plus_content">\
                    <div class="col-sm-1 vote-container hidden-xs" >\
                        <div style="text-align: center;" class="vote-parent" >\
                            <button class="vote-c" id="upvote" vote_type = "1" pk="'+pk+'">\
                                    <img id="upvote-img" class="icons" src="{% static "img/upvote.svg" %}" alt="Upvote">\
                            </button>\
                            <div id="number_of_votes" style="direction: ltr; margin-top: 15px; margin-bottom: 15px; font-family: '+'Vazir'+'; font-size: 24px; color: #fff;">0</div>\
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect vote-c" id="downvote" vote_type = "-1" pk="'+pk+'">\
                                    <img id="downvote-img" class="icons" src="{% static "img/downvote.svg" %}" alt="Downvote">\
                            </button>\
                        </div>\
                    </div>\
                    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11" >\
                        <div class="post_title_content">\
                            <div class="post_title" >\
                                <h1></h1>\
                            </div>\
                            <div >\
                                {% autoescape on %}\
                                    <p id="post_content">' + content + '</p>\
                                {% endautoescape %}\
                            </div>\
                        </div>\
                    </div>\
                </div>\
                <div class="panel-footer panel-footer-border" style="background-color: '+ color +'; ">\
                    <div class="post-footer">\
                              <img style="border-radius: 50%;" class="profile-pic" data-name="{{ request.user.first_name }}"/>\
                                {% if request.user.is_authenticated and request.user == post.poster or perms.post.change_post%}<a class="default-padding-righ-left-10" style="color: #fff; font-size:18px; font-weight: normal; float: left;" href=".."><i class="fa fa-pencil"></i></a>{% endif %}\
                        <div class="display-inline pull-left visible-xs" style="direction:ltr">\
                            <button class="vote-c" id="upvote" vote_type = "1" pk="'+ pk +'>\
                                    <img id="upvote-img" class="icons-small" src="{% static "img/upvote.svg" %}" alt="Upvote">\
                            </button>\
                            <div id="number_of_votes" class="display-inline" style="direction: ltr; margin:0px 20px; font-family: "Vazir"; font-size: 16px; color: white">0</div>\
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect vote-c" id="downvote" vote_type = "-1" pk="'+pk+'>\
                                    <img id="downvote-img" class="icons-small" src="{% static "img/downvote.svg" %}" alt="Downvote">\
                            </button>\
                        </div>\
                        <div style="font-size: 16px; color: #fff; " >\
                            <em class="days_ago">&#8236; همین لحظه</em>\
                            <div style="display: inline" class="hidden-xs">\
                                <div style="display: inline">توسط:</div>\
                                <h5 style="display: inline; direction: ltr;">شما</h5>\
                            </div>\
                        </div>\
                    </div>\
                </div>\
            </div>\
            <div class="col-md-1 col-lg-2"></div>\
        </div>\
    </div>\
            ').fadeOut(1).fadeIn( 1500 );

            $(".vote_parent").on("click",".vote-c",vote);
            $('.profile-pic').initial({
                height: 24,
                width: 24,
                fontSize: 14,
                fontFamily: 'Tahoma, sans-serif',
            });
        }
    </script>

    <script src="{% static 'javascript/post_detail.js' %}"></script>
    <script src="{% static 'javascript/vote.js' %}"></script>
    <script src="{% static 'javascript/toolbar.js' %}"></script>
    <script>
        var upvote_marked = "{% static "img/upvote-marked.svg" %}";
        var downvote_marked = "{% static "img/downvote-marked.svg" %}";
        var upvote= "{% static "img/upvote.svg" %}";
        var downvote= "{% static "img/downvote.svg" %}";
        var post_pk = {{ post.pk }};
    </script>




{% endblock %}
